#kitty-3{
    width: 180px;
    bottom: 200px;
    right: 400px;
    position: absolute;
    z-index: 1;

}

#kitty-5{
    width: 300px;
    bottom: 200px;
    left: 150px;
    position: absolute;
    z-index: 1;
}

#kitty-1{
    width: 200px;
    z-index: 2;
    bottom: 270px;
    left: 200px;
}

#kitty-2{
    z-index: 0;
    width: 150px;
    bottom: 300px;
    left: 150px;
}

#kitty-4{
    width: 130px;
    bottom: 300px;
    right: 85px;
    z-index: 1;
}